
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag</title>
</head>
<body>
    <div> 
        @foreach(var country in ViewData["countries"] as List<string>)
        {
            <ul>
                <li>@country</li>
            </ul>
        }
    </div>
</body>
</html>
