
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedirectAction</title>
</head>
<body>
    <div> 
        I am still @Session["sess"]
    </div>
</body>
</html>
