
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <div> 
        Welcome to @ViewBag.Name<br/>
        @ViewData["CurrentdateTime"]
    </div>
</body>
</html>
